<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - A Pen by sevilayha</title>

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

  <div class="container" ng-app="classApp" ng-controller="mainController">

  <div class="page-header">
    <h1>Dynamic Angular Classes <small>Evaluated Expression</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-6">

      <!-- FORM STUFF =========================== -->
      <form>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="wrong"> 
            Something's Wrong (add <code>.text-error</code> class)
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="insane"> 
            Insane Mode (add <code>.bubble</code> class)
          </label>
        </div>
      </form>
    </div>   
    <div class="col-xs-6">

      <!-- NGCLASS EXAMPLE ============================ -->
      <div class="jumbotron text-center">
        <h2 ng-class="{ 'text-danger': wrong, bubble: insane }">
          Stuff Stuff
        </h2>
      </div>

    </div>
  </div>

</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js'></script>

  <script src="js/index.js"></script>

</body>

</html>