<!DOCTYPE html>
<html ng-app>
<head>
    <title>Hello World, AngularJS </title>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body>
<div ng-controller="ContactController">
    Greet:<input type="text" ng-model="myname"/>

    <button ng-click="greet()">Greet</button>

    <button ng-click="clear()">Clear</button>

    <h2>  {{ myname1 }}   </h2>

</div>
<script type="text/javascript">
    function ContactController($scope) {

        //     $scope.abc="angular session";

        $scope.clear = function() {
            $scope.myname = "";
        }

        $scope.greet = function() {
            $scope.myname1 = "hi  "+$scope.myname;
        }
    }
</script>
</body>
</html>